/* Variables
/* ---------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  /* Colours */
  --color-primary: #3eb0ef;
  --color-base: #131313;
  --color-border: #ddd;
  --color-bg: #ffffff;

  /* Fonts */
  --font-serif: EB Garamond, Times, serif;
  --font-mono: Courier, monospace;
  --font-light: 400;
  --font-normal: 500;
  --font-bold: 700;
  --font-heavy: 800;

  /* Breakpoints */
  --xlarge: 1680px;
  --large: 1280px;
  --medium: 980px;
  --small: 740px;
  --xsmall: 480px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
}
