body, html {
  height: 100%;
}

body {
  background-color: #16262E;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
    color: #F7F7F7;
}

a {
    color: #EAEAEA;
    text-decoration: none;
}